<% provide(:title, 'About AeroPals') %>
<h1>About AeroPals</h1>
<p>
AeroPals is your one stop destination to plan a perfect trip to anywhere in the world. You can meet other travellers and travel together by forming travel groups! Join today for FREE and start exploring the world with other explorers!
</p>